[submodule "PE/mcd-pe-continuo"]
	path = PE/mcd-pe-continuo
	url = https://github.com/Ocete/mcd-pe-continuo
[submodule "TI/mcd-ti"]
	path = TI/mcd-ti
	url = https://github.com/fjsaezm/mcd-ti
[submodule "mcd-cn"]
	path = mcd-cn
	url = https://github.com/Ocete/mcd-cn
[submodule "mcd-pdge"]
	path = mcd-pdge
	url = https://github.com/Ocete/mcd-pdge
[submodule "mcd-maaa"]
	path = mcd-maaa
	url = https://github.com/fjsaezm/mcd-maaa
[submodule "mcd-gd"]
	path = mcd-gd
	url = https://github.com/fjsaezm/mcd-gd
[submodule "mcd-pst"]
	path = mcd-pst
	url = https://github.com/Ocete/mcd-pst
[submodule "mcd-mf"]
	path = mcd-mf
	url = https://github.com/fjsaezm/mcd-mf
[submodule "mcd-opt"]
	path = mcd-opt
	url = https://github.com/fjsaezm/mcd-opt
[submodule "mcd-nlp"]
	path = mcd-nlp
	url = https://github.com/fjsaezm/mcd-nlp
[submodule "BAYES/mcd-bayes"]
	path = BAYES/mcd-bayes
	url = https://github.com/fjsaezm/mcd-bayes.git
